<mat-toolbar color="accent" id="app_navbar">
    <button mat-icon-button id="app_navbar_home_toggle" *ngIf="applications?.length > 0">
      <mat-icon [matMenuTriggerFor]="menu" [matTooltip]="'Applications'" aria-label="Side nav toggle icon">dashboard
      </mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="app_application_menu" (click)="navigateToUrl(app)"
          *ngFor="let app of applications; let i = index">
          <span class="app-title">{{ app.title }}</span>
        </button>
      </mat-menu>
    </button>
  
    <div class="app-toolbar">
      <h1 id="app_navbar_header">
        <a class="app_title" [routerLink]="['/']">{{ title }}</a>
        <ng-content select=[app-logo]></ng-content>
      </h1>
    </div>
  
    <button *ngIf="hasFilterContext" mat-icon-button id="app_filter_toggle"
      [attr.active-filter]="hasFilter ? true : undefined" class="app-filter__icon" (click)="onToggleFilterPanel()">
      <mat-icon>filter_list</mat-icon>
    </button>
  
    <button mat-button [matMenuTriggerFor]="appMenu" id="app_account_toggle">
      {{ user.name }}
      <mat-icon class="app-account-icon">account_circle</mat-icon>
    </button>
  
    <mat-menu #appMenu="matMenu" class="app-account" overlapTrigger="false" id="app_account_menu">
      <ng-template matMenuContent>
        <button name="app_logout" mat-menu-item (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </ng-template>
    </mat-menu>
  </mat-toolbar>
