<mat-sidenav-container class="filter-panel-container">
  <mat-sidenav #drawer position="end" class="filter-panel" fixedInViewport="true"
      [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="isHandset ? 'over' : 'side'" [opened]="opened">
      <mat-toolbar>
          <mat-toolbar-row>
              <span>Filters Panel</span>
              <mat-progress-spinner *ngIf="isBusy" class="filter-panel-busy" mode="indeterminate" diameter="25">
              </mat-progress-spinner>
              <span class="spacer"></span>
              <button mat-icon-button matTooltip="Clear filters" (click)="clearFilters()" [disabled]="isDisabled">
                  <mat-icon>filter_none</mat-icon>
              </button>
              <button mat-icon-button color="warn" matTooltip="Close" (click)="closeClick()">
                  <mat-icon>close</mat-icon>
              </button>
          </mat-toolbar-row>
      </mat-toolbar>
      <mat-card>
          <mat-card-content class="filter-panel__content">
              <form id="filter_panel_form" [formGroup]="form">
                  <formly-form [form]="form" [fields]="filters" [model]="formModel" (modelChange)="onModelChange()">
                  </formly-form>
              </form>
          </mat-card-content>
      </mat-card>
  </mat-sidenav>
</mat-sidenav-container>