.filter-panel-container {
    height: 100%;
    overflow: visible; // Bugfix:KUP-1653 - Filter panel doesn't open on Safari
  }
  
  .filter-panel {
    width: 500px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .filter-panel-busy {
    margin-left: 15px;
  }
  