@import 'node_modules/ngx-lib-styles/styles/framework.scss';

.sidenav {
  padding-top: 30px;
  &.is-open {
    min-width: 300px;
  }
}

.close_icon {
  color: red;
}

.sidenav__toggle {
  .mat-icon {
    transition: transform 400ms ease-out;
  }

  &.is-open {
    .mat-icon {
      transform: rotate(-180deg);
    }
  }
}

// active state
.mat-list-item.active {
  background-color: map_get($mat-grey, 200);
  .mat-list-icon {
    color: map-get($pfr-blue, 500);
  }
  .mat-line {
    font-weight: 500;
    color: map-get($pfr-blue, 500);
  }
}

.mat-menu-item {
  outline: none;

  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

.is-flat {

  .mat-expansion-panel {
    box-shadow: none;
    background: inherit;
  }

  .mat-expansion-panel-header {
    max-height: 56px !important;
    padding-left: 20px;
  }

  .mat-expansion-panel .mat-list-icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    font-size: 24px;
    box-sizing: content-box;
    border-radius: 50%;
    padding: 4px;
    padding-left: 0;
  }
  .mat-expansion-panel .acc-line {
    display: flex;
    flex-direction: column;
    flex: auto 1 1;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    padding-left: 16px;
    align-self: center;
  }

  .mat-expansion-panel-spacing {
    margin: 0;
  }

  .mat-expansion-panel-body {
    padding-bottom: 0;
    padding-left: 30px;
  }

  .mat-nav-list a, .mat-expansion-panel-body > a, .list-menu-item {
    height: 56px;
  }

  .acc-alt {
    display: flex;
    flex-direction: row;
    flex: 100% 1 1;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    padding-left: 20px;
    align-items: center;

    .acc-line-alt {
      padding-left: 20px;
    }
  }

  .mat-accordion a.active {
    background-color: map_get($mat-grey, 200);
    .mat-list-icon {
      color: map-get($pfr-blue, 500);
    }
    .mat-line {
      font-weight: 500;
      color: map-get($pfr-blue, 500);
    }
  }
}

/deep/ .is-flat {
  .mat-expansion-panel-body {
    padding: 0 0 16px 10px;
  }

  &.is-open {

    .mat-expansion-panel-body {
      padding: 0 24px 16px;
    }
  }
}

.version {
  display: inline-block;
}

.icon-text {
  vertical-align: middle;
  padding-right: 20px;
}

.icon-only {
  vertical-align: middle;
  padding-right: 100px;
}

.version-info {
  position: absolute;
  bottom: 0;
  background-color: map_get($mat-grey, 100);
  padding: 20px 0px 20px 20px;
  width: 280px;
  font-size: 12px;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.crop-info {
  position: absolute;
  top: -5px;
  background-color: map_get($mat-grey, 100);
  padding: 20px 0px 20px 20px;
  width: 400px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}
